
$primary-color: #8FBFE0;
html{
    max-height: 100%;
}


body{

    background: $primary-color;
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100%;
}

.title{
    margin-top: 0vh;
    margin-bottom: 3.7vh;
    font-size: 11rem;
    color: white;
    text-shadow: -.4vh .4vh #000000;
    
    text-align: center;
}

footer{
    background-color: $primary-color;
}


    

.postBoard{
    height: 67.4vh;
    height: 100%;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.postForm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postAbout{
    height: 100%;
}

br{
    display: none;
}

.controls{
    align-self: center;
    display: flex;
    margin-bottom: 1rem;

}

.change-view{

    margin-right: 1vw;
    margin-left: 1vw;
    display: inline-block;
    text-align: center;
    width: 12rem;
    height: 4rem;
    color: #fffffffd;
    background-color: transparent;
    border: solid .3vh white;

    cursor: pointer;

    font-family: 'Hammersmith One', sans-serif;
    font-size: 1.7rem;

    transition: color 300ms, background 300ms;

    &:hover{
        background-color: white;
        color: $primary-color; 

        transition: color 300ms, background 300ms;
    }
}

.modal{
    margin-top: 2vh;
}

.modalsNotShow{
    display: none;
}

.modalShow{
    display: block;
    line-height: normal;
    position: fixed;
    z-index: 1;
    padding-left: 20vw;
    padding-right: 20vw;
    left: 0;
    top: 0;
    width: 60vw;
    max-width: 100%;
    word-break: break-word;
}

.modalContent{
    color: white;
    font-size: 1.3rem;
    background: #df6464b7;
    text-align: center;  
}

.previewLabel{
    align-self: flex-start;
}
.preview{
    width: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutView{
    margin-top: 2vh;
    font-size: 1.3rem;
    text-align: center;
    width: 70vw;
    height: 61vh;
    color: white;
    background-color: rgba(124, 119, 185, 0.555);
    h3{
        font-size: 4vw;
        margin-top: .5vh;
        margin-bottom: .5vh;
        text-shadow: -.3vw .3vw #000000;
    }
}

form{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 6rem;
    margin-bottom: 8.2rem;
    text-align: center; 
    display: flex;
    flex-direction: column;
    width: 38rem;
    height: 10rem;

    input{
        background: none;
        border: none;
        border-bottom: .05vh solid white;
    }

    select{
        background: none;
        border: .1vh solid white;
    }
    
    label{
        color: black;
        align-self: flex-start;
        font-size: 1.2rem;
        font-family: 'Hammersmith One', sans-serif;
        font-weight: bold;
        padding-bottom: .3vh;
    }

    .message {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .messageForm{
        height: 5vh;
        width: 22rem;
        font-size: 2rem;
        margin-bottom: 1vh;
        padding-bottom: .2vh;
        align-self: left;
        
    }

    .name-color-row{
        display: flex;
        align-content: space-between;
        justify-content: flex-start;
    }

    .name{
        display: flex;
        flex-direction: column;
    }

    .nameForm{
        height: 3rem;
        width: 19rem;
        font-size: 2rem;
        
    }

    .color{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .colorForm{
       
        height: 3.1rem;
        width: 8rem;
        font-size: 2rem;
    }

    .emoji{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .emojiForm{
        height: 3.1rem;
        width: 6rem;
        font-size: 1.8rem;
    }

    .submit{
        align-self: flex-start;
        margin-top: 1rem;
        

        display: inline-block;
        align-self: center;
        text-align: center;
        width: 14rem;
        height: 4.3rem;
        color: #fffffffd;
        background-color: transparent;
        border: solid .3vh white;
    
        cursor: pointer;
    
        font-family: 'Hammersmith One', sans-serif;
        font-size: 2rem;
    
        transition: color 300ms, background 300ms;

        &:hover{
            background-color: white;
            color: $primary-color; 

            transition: color 300ms, background 300ms;
        }
    }
}

@media(max-width: 1024px){

    .title{
        margin-top: 2rem;
        font-size: 4rem;
    }

    .postBoard{
        height: 100%;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .postForm{
        height: 100%;
        padding-bottom: .2rem;
    }
    
    .postAbout{
        height: 100%;
    }

    .controls{
        margin-bottom: 4vh;
    }
    .change-view{
        margin-bottom: 0;
        margin-right: 1vw;
        margin-left: 1vw;
        display: inline-block;
        text-align: center;
        width: 10rem;
        height: 2.5rem;
        color: #fffffffd;
        background-color: transparent;
        border: solid .3vw white;
    
        cursor: pointer;
    
        font-family: 'Hammersmith One', sans-serif;
        font-size: 1.2rem;
    
        transition: color 300ms, background 300ms;
    
        &:hover{
            background-color: white;
            color: $primary-color; 
    
            transition: color 300ms, background 300ms;
        }
    }


    .preview{
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 20.3rem;
    }

    .modalShow{
        margin-top: 5vh;
    }

    .modalContent{
        //margin-top: 5vh;
        color: white;
        font-size: 4vw;
        background: #df6464b7;
        text-align: center;  
    }

    .aboutView{

        font-size: 4.8vw;
        text-align: center;
        width: 93vw;
        height: 62vh;
        color: white;
        margin-bottom: 10.5vh;
        h3{
            font-size: 11vw;
            margin-top: .5vh;
            margin-bottom: 8.5vh;
            text-shadow: -.5vw .5vw #000000;
        }
    }

    form{
        
        font-family: 'Hammersmith One', sans-serif;
        font-size: 4vw;
        padding-top: 1vw;
        padding-bottom: 14vh;
        text-align: center; 
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        height: 35vh;
        margin-top: 6vh;
    
        input{
            background: none;
            border: none;
            border-bottom: .1vw solid white;
        }
    
        select{
            background: none;
            border: .1vw solid white;
        }
        
        label{
            color: black;
            align-self: flex-start;
            font-size: 1.2rem;
            font-family: 'Hammersmith One', sans-serif;
            font-weight: bold;
            padding-bottom: .3vh;
        }
    
        .message {
            text-align: left;
        }
    
        .messageForm{
            height: 3rem;
            width: 16rem;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            padding-bottom: .2vw;
            align-self: left;
            
        }
    
        .name-color-row{
            display: flex;
            align-content: space-between;
            justify-content: flex-start;
        }
    
        .name{
            display: flex;
            flex-direction: column;
        }
    
        .nameForm{
            height: 3rem;
            width: 10.4rem;
            font-size: 1.2rem;
            margin-bottom: 1vw;
        }
    
        .color{
            display: flex;
            flex-direction: column;
            margin-left: 3vw;
            label{
                margin-bottom: .5vh;
            }
        }
    
        .colorForm{
            margin-top: 0vw;
            height: 3rem;
            width: 5.6rem;
            font-size: 1.3rem;
        }
    
        .emoji{
            display: flex;
            flex-direction: column;
            margin-left: .4rem;
            label{
                margin-bottom: .5vh;
            }
        }
        
    
        .emojiForm{
            
            height: 3rem;
            width: 3.7rem;
            font-size: 1.3rem;
        }
    
        .submit{
            align-self: flex-start;
            margin-top: 1rem;
            margin-bottom: 0rem;

    
            display: inline-block;
            align-self: center;
            text-align: center;
            width: 14rem;
            height: 5rem;
            color: #fffffffd;
            background-color: transparent;
            border: solid .3vh white;
        
            cursor: pointer;
        
            font-family: 'Hammersmith One', sans-serif;
            font-size: 2.6rem;
        
            transition: color 300ms, background 300ms;
    
            &:hover{
                background-color: white;
                color: $primary-color; 
    
                transition: color 300ms, background 300ms;
            }
        }
    }

    
}